.app-pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-flow: column;
}

