.article-body {
  margin-top: 34px;
  padding: 16px;
  padding-top: 30px;
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
  background-color: #fff;
  min-height: 70vh;
  max-height: auto;
  width: 938px;
  text-overflow: clip;
  word-break: break-all;
  overflow-wrap: anywhere / break-word;
  justify-self: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.login-page-form {
  display: flex;
  justify-self: center;
  justify-content: center;
  flex-flow: column;
  width: 894px;
}

.label {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  margin-bottom: 4px;
  margin-top: 20px;
}

.input {
  width: 98%;
  height: 36px;
  border-radius: 6px;
  border: solid 0.2px rgba(191, 191, 191, 1);
  font-size: 16px;
  outline: none;
  padding-left: 10px;
}

.text-input {
  width: 98%;
  height: 192px;
  border-radius: 6px;
  border: solid 0.2px rgba(191, 191, 191, 1);
  font-size: 16px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.tags-input {
  width: 300px;
  height: 36px;
  border-radius: 6px;
  border: solid 0.2px rgba(191, 191, 191, 1);
  font-size: 16px;
  outline: none;
  padding-left: 10px;
  margin-bottom: 12px;
}

.tags-input--error {
  width: 300px;
  height: 36px;
  border-radius: 6px;
  border: solid 0.2px rgba(191, 191, 191, 1);
  font-size: 16px;
  outline: none;
  padding-left: 10px;
  border: solid 0.2px rgba(245, 34, 45, 1);
  margin-bottom: 12px;

}

.submit {
  cursor: pointer;
}

.input--error {
  width: 98%px;
  height: 36px;
  border-radius: 6px;
  border: solid 0.2px rgba(245, 34, 45, 1);
  font-size: 16px;
  outline: none;
  padding-left: 10px;
}

.text-input--error {
  width: 98%;
  height: 192px;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 0.2px rgba(245, 34, 45, 1);
  outline: none;
}

.input::placeholder {
  font-size: 16px;
  color: rgba(191, 191, 191, 1);
}

.submit {
  margin-top: 34px;
  position: relative;
  width: 338px;
  height: 40px;
  background-color: rgba(24, 144, 255, 1);
  border: none;
  justify-self: center;
}
